
/* Optional: Makes the sample page fill the window. */
/*html, body {
    
}*/

html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.contenedor {
    width: 98%;
    margin: 0 auto;

}

.contenedor p {
    text-align: center;
}

@media only screen and (min-width: 480px) {
    .contenedor {
        width: 95%;
        max-width: 1100px;
    }
}

@media only screen and (min-width: 768px) {
    .contenedor {
        width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    .contenedor {
        width: 90%;
    }
}

.seccion {
    padding: 30px 0;
}

.seccion p {
    font-size: 1.2em;

}


h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}

h2::after {
    content: '';
    margin: 0 auto;
    background-image: url(../img/separador.png);
    height: 30px;
    width: 100px;
    display: block;
}

h3 {
    font-size: 1.8em;
    color: #fe4918;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    text-align: center;
}

.button {
    background-color: #fe4918;
    padding: 10px 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    transition: all .3s ease;
    border: 2px solid #fe4918;
}

.button.hollow,
.button.hollow:hover {
    background-color: white;
    color: #fe4918;
    border: 2px solid #fe4918;
}

.button.transparente {
    background-color: transparent;
    border: 2px solid #ffffff;
}

.button.transparente:hover {
    border: 2px solid #fe4918;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.button:hover {
    background-color: #e33000;
}

.float-right {
    float: right;
}


/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 500px;
    width: 100%;
}

#map2 {
    height: 500px;
    width: 100%;
}



h1.nombre-sitio {
    font-size: 4.2vw;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}

@media only screen and (min-width: 768px) {
    h1.nombre-sitio {
        font-size: 5.5vw;
        text-align: center;
        margin: 0;
    }
}

.titulo{
    display: flex;
}
.formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#op1, #op2, #op3 {
    margin: 10px;
    flex-wrap: wrap;
}
#op3{
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.GTraversal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 200px;
}

.btn-trv{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-trv:hover{
    background-color: rgb(55, 119, 57); /* Green */
} 

.tg  {border-collapse:collapse;border-spacing:0;border-color:#9ABAD9;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#444;background-color:#EBF5FF;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#fff;background-color:#409cff;}
.tg .tg-c8qn{font-weight:bold;background-color:#ffffff;color:#333333;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}


.tg2  {border-collapse:collapse;border-spacing:0;border:none;margin:0px auto;}
.tg2 td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg2 th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg2 .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg2 .tg-e5ub{font-weight:bold;background-color:#ffcc67;border-color:#c0c0c0;text-align:left}
.tg2 .tg-5ua9{font-weight:bold;text-align:left}
.tg2 .tg-0lax{text-align:left;vertical-align:top}